<div class="flex flex-col justify-start items-end z-10 w-auto overflow-visible gap-2" data-controller="menu">
  <!-- Menu -->
  <div class="flex items-center justify-center gap-2 rounded-[3rem] bg-white py-1 pl-1 pr-2 cursor-pointer" data-action="click->menu#handleMenu">
    <div class="flex justify-center items-end rounded-[48%] w-10 h-10 border-none bg-gray-300 overflow-hidden">
      <%= image_tag 'icons/user.svg', alt: "user", width: 35, height: 35 %>
    </div>
    <%= image_tag 'icons/menu.svg', alt: "menu", width: 20, height: 20 %>
  </div>
  <!-- Items -->
  <% if current_user %>
    <div class="flex flex-col items-start justify-center min-w-[13.5rem] bg-white rounded-xl border-[1px] border-gray-200 p-2 absolute top-[4.5rem] invisible" data-menu-target="items">
      <hr class="w-full text-gray-200">
      <%= link_to 'Ver tableros', new_user_session_path, :class => "p-3 font-light w-full" %>
      <hr class="w-full text-gray-200">
      <%= link_to 'Publicar', new_user_registration_path, :class => "p-3 font-light w-full" %>
      <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, data: { turbo_method: :delete } ,:class => "p-3 font-light w-full" %>
    </div>
  <%else%>
    <div class="flex flex-col items-start justify-center min-w-[13.5rem] bg-white rounded-xl border-[1px] border-gray-200 p-2 absolute top-[4.5rem] invisible" data-menu-target="items">
      <%= link_to 'Iniciar sesión', new_user_session_path, :class => "p-3 font-light w-full" %>
      <%= link_to 'Crear cuenta', new_user_registration_path, :class => "p-3 font-light w-full" %>
      <hr class="w-full text-gray-200">
      <a class="p-3 font-light w-full" href="/mx/publicar">Publicar</a>
    </div>
  <% end %>
</div>