 <%= render "devise/shared/form_page" do %>
  <h2 class="text-3xl mb-8 font-semibold">Iniciar sesión</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autocomplete: "email", class: "rounded-lg py-3 w-full border-gray-200 focus:border-eb-pink focus:outline-none focus:ring-1 focus:ring-eb-pink", placeholder: "Email" %>
    </div>
    <br />
    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", class: "rounded-lg py-3 w-full border-gray-200 focus:border-eb-pink focus:outline-none focus:ring-1 focus:ring-eb-pink", placeholder: "Contraseña" %>
    </div>
    <br />
    <% if devise_mapping.rememberable? %>
      <div class="field flex items-center gap-2">
        <%= f.check_box :remember_me, class: "rounded-[4px]" %>
        <%= f.label :recordarme %>
      </div>
    <% end %>
    <br />
    <%= f.submit "Iniciar sesión", class: "bg-eb-pink w-full py-3 px-4 text-center text-white rounded-xl border-2 border-eb-pink cursor-pointer" %>
  <% end %>
  <div class="flex flex-col justify-between items-center w-full">
    <%= render "devise/shared/links" %>
  </div>
<%end%>